@charset "UTF-8";


/* Body styles */

html {
    font-size: 62.5%;
}
html, body {
    border-top: 15px solid #7db578;
}
body {
    border-top-color: #cae8a7;
    font-size: 1.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #333;
}

@media all and (max-width: 1000px) {
    body {
        font-size: 1.6em;
    }
}

@media all and (max-width: 640px) {
    html, body {
        border-top-width: 10px;
    }
    body {
        font-size: 1.5em;
    }
}


/* Basic Type */

h1, h2 {
    font-weight: normal;
}
h2 {
    font-size: 1.2em;
}

a {
    color: #4c8847;
}
a:visited {
    color: #7f629c;
}
.secret-link, .secret-link:visited {
    text-decoration: none;
    color: #333;
}

abbr {
    cursor: help;
}


/* Main page layout */

.page {
    margin: 0 auto;
    padding: 20px;
}
.page-reading-width {
    max-width: 500px;
}
.page-reading-width-wide {
    max-width: 700px;
}

.footer {
    margin-top: 80px;
}


/* List styling */

.secret-list {
    list-style: none;
    padding-left: 0;
}
.secret-list > li {
    display: block;
}

dd {
    margin-left: 0;
    margin-bottom: 1em;
    font-size: 80%;
}


/* Entries */

.entries {
    margin-top: 40px;
}
.entry {
    margin-bottom: 40px;
}

.entry ol, .entry ul {
    padding-left: 0;
    list-style: none;
}

.entry .doodle {
    width: auto;
    max-width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 10px solid #f7f5f0;
}

.entry-meta {
    padding: 10px;
    display: inline-block;
    background-color: #f7f5f0;
    font-size: 80%;
    font-style: italic;
}

.dialogue {
    text-align: left;
}
.dialogue .line {
    padding-left: 135px;
    position: relative;
}
.dialogue .speaker {
    width: 125px;
    display: block;
    float: left;
    position: absolute;
    left: 0;
}
@media all and (max-width: 640px) {
    .dialogue .line {
        padding-left: 0;
    }
    .dialogue .speaker {
        width: auto;
        float: none;
        position: static;
    }
}


/* Thumbnails */

.thumb-list > li {
    float: left;
}
.thumb-list .thumb {
    width: 100%;
    display: block;
}
.thumb-list-weekly > li {
    width: 14.285714286%;
}
@media all and (max-width: 640px) {
    .thumb-list-weekly > li {
        width: 33.333333333%;
    }
}


/* Pagination */

.pagination {
    position: relative;
}
.pagination .next, .pagination .prev {
    display: block;
    position: absolute;
    top: 0;
}
.pagination .next {
    float: right;
    right: 0;
}
.pagination .prev {
    float: left;
    left: 0;
}


/* Clearfix */

.clearfix {
    zoom: 1;
}
.clearfix:before, .clearfix:after {
    display: table;
    content: '';
}
.clearfix:after {
    clear: both;
}


/* Hiding */

/*http://developer.yahoo.com/blogs/ydn/posts/2012/10/clip-your-hidden-content-for-better-accessibility/*/
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}


/* All done */

.all-done {
    font-size: 80%;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #fff5c3;
}
