
<div itemscope itemtype="http://schema.org/Blog">

    <meta itemprop="name" content="{{site.data.meta.name}}"/>
    <meta itemprop="url" content="http://{{site.data.meta.host}}/"/>

    <div itemprop="author" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="name" content="{{site.data.author.name}}"/>
        <meta itemprop="url" content="{{site.data.author.url}}"/>
    </div>

    <ol class="secret-list entries">
        {% for post in paginator.posts %}
            <li class="space-large entry" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
                <meta itemprop="url" content="http://{{site.data.meta.host}}{{post.url}}"/>
                <meta itemprop="dateCreated" content="{{post.date | date: '%Y-%m-%dT%H:%M:%SZ'}}"/>

                <a href="{{post.url}}" class="secret-link">
                    <h2 itemprop="name">
                        {{post.title}}
                    </h2>
                    <img class="doodle" src="/image/entry/{{post.date | date: '%Y-%m-%d'}}.jpg" alt="{{post.description}}" title="{{post.description}}" itemprop="image"/>
                </a>

            </li>
        {% endfor %}
    </ol>

</div>

{% include pagination.html %}
