
<div itemscope itemtype="http://schema.org/Blog">

    <meta itemprop="name" content="{{site.data.meta.name}}"/>
    <meta itemprop="url" content="http://{{site.data.meta.host}}/"/>

    <div itemprop="author" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="name" content="{{site.data.author.name}}"/>
        <meta itemprop="url" content="{{site.data.author.url}}"/>
    </div>

    <ol class="entries">
        {% for post in paginator.posts %}
            <li class="entry" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
                <meta itemprop="url" content="http://{{site.data.meta.host}}{{post.url}}"/>
                <meta itemprop="dateCreated" content="{{post.date | date: '%Y-%m-%dT%H:%M:%SZ'}}"/>

                <h2>
                    <a href="{{post.url}}" itemprop="name">{{post.title}}</a>
                </h2>

                <p>
                    <img class="doodle" src="/entries/{{post.date | date: '%Y/%m/%d'}}-preview.jpg" alt="{{post.description}}" itemprop="image"/>
                </p>

            </li>
        {% endfor %}
    </ol>

</div>

{% include pagination.html %}
