---
layout: page
---

<div class="entry">

    <a href="/">&laquo; Back to list of entries</a>

    <h1>{{page.title}}</h1>

    <p>
        <img class="doodle" src="/image/entry/{{page.date | date: '%Y-%m-%d'}}.jpg" alt="{{page.description}}" title="{{page.description}}"/>
    </p>

    {{content}}

    <div>
        <div class="entry-meta">
            Posted
            <time datetime="{{page.date | date: '%Y-%m-%dT%H:%M:%SZ'}}">
                {{page.date | date: '%d %B %Y'}}
            </time>
            by <a href="{{site.data.author.url}}">{{site.data.author.name}}</a>.
        </div>
    </div>

</div>
